* {
  margin: 0;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #B20202;
  font-weight: 100;
}

html, body {
  overflow-x: hidden;
}

.relative-full {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#fixed-outer {
  z-index:439582729378598273498573;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#header-top {
  position: absolute;
  height: 15vh;
  width: 15vw;
  min-width: 200px !important;
  right: 0;
  pointer-events: auto;
  display: inline-block;
  background-color: #b20202;
  background-image: url('black-linen-2.png');
  clear: none;
  overflow: hidden;
  box-shadow: 0 0 5px #000;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 20px;
  -webkit-transition: all 500ms cubic-bezier(1.000, 0.030, 0.250, 1); /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(1.000, 0.030, 0.250, 1.270);
     -moz-transition: all 500ms cubic-bezier(1.000, 0.030, 0.250, 1.270);
       -o-transition: all 500ms cubic-bezier(1.000, 0.030, 0.250, 1.270);
          transition: all 500ms cubic-bezier(1.000, 0.030, 0.250, 1.270); /* custom */
}

#header-top.more {
  height: 60vh;
}

#header-top-h1 {
  color: white;
  font-size: 10vh;
  line-height: 10vh;
  text-align: center;
  vertical-align: middle;
  font-family: 'helvetica', sans-serif;
  font-weight: 200;
  display: block;
}

.hr {
  background-color: black;
  height: 1px;
  width: 60%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

#header-top-more {
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 3vh;
  margin-top: 3px;
  line-height: 4vh;
  text-align: center;
  vertical-align: middle;
  font-family: 'helvetica', sans-serif;
  font-weight: 200;
  display: block;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

#header-top-more:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#header-top-more:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  top: 14vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  /*visibility: hidden;*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
     -moz-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
       -o-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
          transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2); /* easeOutBack */
}

#header-top-more:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#header-top-more:active:before {
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
}

#options-outer {
  margin-top: 20px;
  border-top: 1px solid #000;
}

#options-outer > div, #options-outer p {
  color: white;
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

#options-outer > p {
  font-family: 'helvetica', sans-serif;
  font-weight: 400;
  height: 50px;
  background-color: transparent;
  width: auto;
  text-align: right;
  padding-right: 5px;
  padding-left: 5px;
  white-space: nowrap;
}

#options-outer > div:not(.hr):hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#options-outer > p:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#options-outer > .hr {
  display: block !important;
}

div.exits, div.floors, div.rooms {
  background-color: transparent;
  height: 25px;
  width: 25px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

div.exits.active {
  background-color: rgba(0, 200, 200, 1);
  border: 1px solid rgba(0, 200, 200, 1);
}

div.floors.active {
  background-color: rgba(0, 200, 0, 1);
  border: 1px solid rgba(0, 200, 0, 1);
}

div.rooms.active {
  background-color: rgba(200, 0, 0, 1);
  border: 1px solid rgba(200, 0, 0, 1);
}

#hamburger-outer {
  background-image: url('black-linen-2.png');
  background-color: #b20202;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  pointer-events: auto;
  left: 10vw;
  height: 7.5vw;
  width: 7.5vw;
  min-height: 100px;
  min-width: 100px;
  clear: none;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#hamburger-outer.hidden {
  left: 0vw;
}

#hamburger-relative {
  height: 100%;
  width: 100%;
  position: relative;
}

#hamburger-relative > div {
  position: absolute;
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5;
  -webkit-transition: all 0.5s;
}

#hamburger-relative:hover > div, #hamburger-relative > div.active {
  background-color: rgba(255, 255, 255, 1);
}

#hamburger-relative:hover > .ham1 {
  top: 20%;
}

#hamburger-relative:hover > .ham3 {
  top: 70%;
}

.ham1, .ham2, .ham3, .hamhidden {
  height: 10%;
  width: 70%;
  opacity: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  background-color: transparent !important;
  height: 80%;
  width: 80%;
  border-radius: 500px;
  border: 0.1vw solid white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  transform: scale(0);
  -webkit-transform: scale(0);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.ham1 {
  top: 25%;
}

.ham2, .hamhidden {
  top: 45%;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.hamhidden {
  opacity: 0;
  transition: opacity 0.01s. transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition: opacity 0.01s, transform 0.5s, -webkit-transform 0.5s;
}

.ham3 {
  top: 65%;
}

.ham1.active, .ham3.active {
  opacity: 0;
  top: 45%;
}

.ham2.active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hamhidden.active {
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.circle.active {
  transform: scale(1);
  -webkit-transform: scale(1);
}


#header-left {
  height: 100vh;
  width: 10vw;
  left: 0;
  pointer-events: auto;
  overflow: scroll;
  position: relative;
  display: inline-block;
  background-color: rgba(147, 147, 147, 1);
  border-right: 2px solid #000;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#header-left.hidden {
  left: -10vw;
}

#rotate.hidden {
  opacity: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
    display: none;
}

#rotate {
  position: fixed;
  bottom: 0;
  width: 10vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: url('black-linen-2.png');
  box-shadow: inset 0px 10px 18px 0px rgba(0,0,0,0.75);
  border-top: 1px solid #000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#rotate-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 10vw;
  background-image: url('arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

#rotate-inner-text {
  width: 100%;
  height: 100%;
  pointer-events: none;
  line-height: 10vw;
}

#rotate-inner-text > p {
  font-size: 3vw;
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  font-family: 'helvetica', sans-serif !important;
  color: #FFF;
  font-weight: 900;
}

.rotate, .no-rotate {
  transform: rotate(0deg) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

#back-outer {
  width: 100%;
  height: 100px;
  margin-top: 0;
  pointer-events: auto;
  cursor: pointer;
  background-image: url('fairview/weather_sunny.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  border-bottom: 1px solid #000;
  overflow: hidden
}

#back {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('fairview/logo.png');
  background-position: 50% 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: background-position 0.5s;
  -webkit-transition: background-position 0.5s;
}

#tipsy {
  width: 90%;
  white-space: nowrap;
  height: 25px;
  position: absolute;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  left: 0;
  right: 0;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}

#tipsy > p {
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: "helvetica", sans-serif;
  font-weight: 400;
}

#tipsy > img {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
}

#back:hover {
  background-position: 50% 40px;
}

#back:hover #tipsy {
  opacity: 1;
}

#back:active {
  background-position: 50% 60px;
}

.header-sub {
  width: 100%;
  height: 30px;
  pointer-events: auto;
  cursor: pointer;
  line-height: 30px;
  background-color: rgba(147, 147, 147, 1);
  /*border-top: 1px solid #000;*/
  /*border-bottom: 1px solid rgba(181, 181, 181, 1);*/
  box-shadow: inset 0 0 0px 0px #000;
  transition: all 0.25s;
  background-image: url('fairview/nav-norm.png');
  background-size: auto 100%;
  background-position: 100% 50%;
  z-index: -1;
  -webkit-transition: all 0.25s;
}

.header-sub:first-child {
  top: 25px;
  border-top: 1px solid #000;
}

.header-sub!00 {
  /*border-bottom: 1px solid #000 !important;*/
}

.header-sub:hover {
  background-color: rgba(164, 164, 164, 1);
  /*box-shadow: inset 0 0 5px 2.5px #000;*/
  background-image: url('fairview/nav-hover.png');
}

.header-sub.selected {
  background-color: rgba(137, 137, 137, 1) !important;
  /*box-shadow: 0 0 5px 2.5px #000 !important;*/
  z-index:100;
  background-image: url('fairview/nav-active.png');
}

.header-sub h1 {
  font-size: 20px;
  vertical-align: middle;
  font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", "Droid Sans", serif !important;
  text-shadow: rgba(255,255,255,0.5) 0 1px 1px;
  color: #333;
  margin-left: 2vw;
  text-align: left;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
}

.header-sub.selected h1 {
  color: #f9f9f9;
  text-shadow: rgba(0,0,0,0.7) 0 1px 2px
}

.header-sub.selected h1:after {
  /*content: "\25BA";*/
  content: "";
  margin-left: 2vw;
  font-size: 20px;
}

.floor-outer {
  width: 100vw;
  height: 100vh;
  position: relative;
  line-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.21+0,0+100 */
  background-color: #d7d7d7;
  background-image: url('noise.png');

}

.floor {
  width: 120vh;
  height: 84.375vh;
  background-size: cover;
  background-position: 50% 50%;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -42vh;
  display: block;
  line-height: 100vh;
  right: 4vw;
}

.floor.hidden /*not really hidden lol, just centered. just lazy with class names...*/{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 999px) {
  .floor {
    width: 80vw;
    height: 56.25vw;
    margin-top: -28vw;
    right: 2vw;
  }
  #header-top-h1 {
    font-size: 7vw;
    font-weight: 900;
  }
  #header-top-more {
    font-size: 2vh;
  }
}
#f1 {
  background-image: url('main.png');
}
#f2 {
  background-image: url('200.png');
}
#f3 {
  background-image: url('300.png');
}
#f4 {
  background-image: url('400.png');
}
#f5 {
  background-image: url('500.png');
}
#f6 {
  background-image: url('600.png');
}
#f7 {
  background-image: url('700.png');
}
#f8 {
  background-image: url('800.png');
}
#f9 {
  background-image: url('900.png');
}

.room, .other {
  z-index: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 60px;
  opacity: 1;
  background-image: url('concrete-wall-3.png');
  pointer-events: auto;
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  background-color: rgba(200, 0, 0, 1);
  /*border: 1px solid black;*/
  box-shadow: -1px 1px 5px #000;
  position: absolute;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
     -moz-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
       -o-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
          transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2); /* easeOutBack */
}

.room.nope, .other.nope {
  opacity: 0;
  pointer-events: none;
}

.other {
  height: 50px !important;
  width: 50px !important;
  line-height: 50px;
  box-shadow: -3px 3px 6px #000 !important;
  background-color: rgba(0, 200, 0, 1) !important;
}

.exit {
  background-color: rgba(0, 200, 200, 1) !important;
  height: 40px !important;
  width: 40px !important;
  line-height: 40px !important;
}

.room > p, .other > p {
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
  font-family: "helvetica", sans-serif !important;
  /*font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", "Droid Sans", serif !important;*/
  color: white;
  pointer-events: none;
}

.other > p {
  font-size: 15px !important;
  line-height: 50px !important;
}

.exit > p {
  line-height: 40px !important;
  font-size: 12.5px !important;
}

.room:hover, .other:hover {
  z-index: 1;
  opacity: 1;
  box-shadow: -7px 7px 15px #000;
  background-color: rgba(255, 50, 50, 1);
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
}

.other:hover {
  box-shadow: -10px 10px 17px #000 !important;
  background-color: rgba(50, 255, 50, 1) !important;
}

.exit:hover {
  background-color: rgba(55, 255, 255, 1) !important;
}

.info-outer {
  height: 80px;
  width: 200px;
  box-shadow: -5px 5px 10px #000;
  pointer-events: none;
  background-color: #d7d7d7;
  border: 1px solid #B20202;
  background-image: url('whitey.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
  opacity: 0;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.info-top {
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: #B20202;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.info-top > h1 {
  font-size: 25px;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: "helvetica", sans-serif !important;
  /*font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", "Droid Sans", serif !important;*/
  text-align: left;
  margin-left: 10px;
  vertical-align: middle;
  color: rgba(215, 215, 215, 1);
}

.info-outer > p {
  font-size: 15px;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  color: black;
  margin: 2.5px;
  line-height: 15px;
  vertical-align: baseline;
}
