* {
  margin: 0;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #B20202;
  font-weight: 100;
}

html, body {
  overflow-x: hidden;
}

.relative-full {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#fixed-outer {
  z-index:439582729378598273498573;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#header-left {
  height: 100vh;
  width: 15vw;
  pointer-events: auto;
  overflow: scroll;
  position: relative;
  border-right: 1px solid #B20202;
}

#header-left::webkit-scrollbar {
  display: none;
}

#rotate {
  position: fixed;
  bottom: 0;
  width: 15vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.75);
  border-top: 1px solid #B20202;
}

#rotate-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 10vw;
  background-image: url('arrow.png');
  background-size: contain;
  background-position: 50% 50%;
}

#rotate-inner-text {
  width: 100%;
  height: 100%;
  pointer-events: none;
  line-height: 10vw;
}

#rotate-inner-text > p {
  font-size: 3vw;
  text-align: center;
  vertical-align: middle;
  font-family: 'helvetica', sans-serif !important;
  color: #b20202;
  font-weight: 900;
}

.rotate, .no-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.header-sub {
  width: 100%;
  height: 60px;
  pointer-events: auto;
  cursor: pointer;
  line-height: 60px;
  background-color: transparent;
  border-top: 1px solid #B20202;
  border-bottom: 1px solid #B20202;
  box-shadow: inset 0 0 0px 0px #000;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.header-sub:hover {
  background-color: rgba(50, 50, 50, 0.15);
  box-shadow: inset 0 0 5px 2.5px #000;
}

.header-sub.selected {
  background-color: #B20202 !important;
  box-shadow: 0 0 5px 2.5px #000 !important;
  z-index:10;
}

.header-sub h1 {
  font-size: 50px;
  vertical-align: middle;
  color: #B20202;
  margin-left: 2vw;
  text-align: left;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
}

.header-sub.selected h1 {
  color: white;
}

.header-sub.selected h1:after {
  content: "\25BA";
  margin-left: 2vw;
  font-size: 3vw;
}

.floor-outer {
  width: 100vw;
  height: 100vh;
  position: relative;
  line-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.21+0,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.21) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.21)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

.floor {
  width: 120vh;
  height: 84.375vh;
  background-size: cover;
  background-position: 50% 50%;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -42vh;
  display: block;
  line-height: 100vh;
  right: 2vw;
}

@media only screen and (max-width: 999px) {
  .floor {
    width: 80vw;
    height: 56.25vw;
    margin-top: -28vw;
  }
}
#f1 {
  background-image: url('main.png');
}
#f2 {
  background-image: url('200.png');
}
#f3 {
  background-image: url('300.png');
}
#f4 {
  background-image: url('400.png');
}
#f5 {
  background-image: url('500.png');
}
#f6 {
  background-image: url('600.png');
}
#f7 {
  background-image: url('700.png');
}
#f8 {
  background-image: url('800.png');
}

.room, .other {
  z-index: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 60px;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  background-color: rgba(200, 0, 0, 1);
  /*border: 1px solid black;*/
  box-shadow: -1px 1px 5px #000;
  position: absolute;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
     -moz-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
       -o-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2);
          transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 2); /* easeOutBack */
}

.other {
  height: 50px !important;
  width: 50px !important;
  line-height: 50px;
  box-shadow: -3px 3px 6px #000 !important;
  background-color: rgba(0, 200, 0, 1) !important;
}

.room > p, .other > p {
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  font-weight: 900;
  font-family: "helvetica", sans-serif !important;
  color: white;
  pointer-events: none;
}

.other > p {
  font-size: 15px !important;
  line-height: 50px !important;
}

.room:hover, .other:hover {
  z-index: 1;
  opacity: 1;
  box-shadow: -7px 7px 15px #000;
  background-color: rgba(255, 50, 50, 1);
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
}

.other:hover {
  box-shadow: -10px 10px 17px #000 !important;
  background-color: rgba(50, 255, 50, 1) !important;
}

.info-outer {
  height: 75px;
  width: 200px;
  box-shadow: -5px 5px 10px #000;
  pointer-events: none;
  background-color: white;
  border: 1px solid #B20202;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
  opacity: 0;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.info-top {
  height: 25px;
  line-height: 25px;
  width: 100%;
  background-color: #B20202;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.info-top > h1 {
  font-size: 20px;
  font-weight: 900;
  font-family: "helvetica", sans-serif !important;
  text-align: left;
  margin-left: 10px;
  vertical-align: middle;
  color: white;
}

.info-outer > p {
  font-size: 15px;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  color: black;
  margin: 2.5px;
  line-height: 15px;
  vertical-align: baseline;
}
