* {
  margin: 0;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #B20202;
  font-weight: 100;
}

html, body {
  overflow-x: hidden;
}

.relative-full {
  position: relative;
  width: 100%;
  height: 100%;
}

#fixed-outer {
  z-index:439582729378598273498573;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#header-left {
  height: 100vh;
  width: 15vw;
  border-right: 1px solid #B20202;
}

.header-sub {
  width: 100%;
  height: 10vh;
  pointer-events: auto;
  cursor: pointer;
  line-height: 10vh;
  background-color: transparent;
  border-top: 1px solid #B20202;
  border-bottom: 1px solid #B20202;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.header-sub:hover {
  background-color: rgba(50, 50, 50, 0.15);
}

.header-sub.selected {
  background-color: #B20202 !important;
}

.header-sub h1 {
  font-size: 4vw;
  vertical-align: middle;
  color: #B20202;
  margin-left: 2vw;
  text-align: left;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
}

.header-sub.selected h1 {
  color: white;
}

.header-sub.selected h1:after {
  content: "\25BA";
  margin-left: 2vw;
  font-size: 3vw;
}

.floor-outer {
  width: 100vw;
  height: 100vh;
  position: relative;
  line-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.21+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.21))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#36000000',GradientType=1 ); /* IE6-9 */

}

.floor {
  width: 120vh;
  height: 84.375vh;
  background-size: cover;
  background-position: 50% 50%;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -42vh;
  display: block;
  line-height: 100vh;
  right: 2vw;
}

@media only screen and (max-width: 999px) {
  .floor {
    width: 80vw;
    height: 56.25vw;
    margin-top: -28vw;
  }
}

#f4 {
  background-image: url('400.png');
}

.room {
  z-index: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  background-color: rgba(200, 0, 0, 1);
  /*border: 1px solid black;*/
  box-shadow: 1px 1px 5px #000;
  position: absolute;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -moz-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -o-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
          transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.room > p {
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  font-weight: 900;
  color: white;
  pointer-events: none;
}

.room:hover {
  z-index: 1;
  opacity: 1;
  box-shadow: 4px 4px 10px #000;
  background-color: rgba(255, 50, 50, 1);
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
}

.info-outer {
  height: 75px;
  width: 200px;
  pointer-events: none;
  background-color: white;
  border: 1px solid #B20202;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
  opacity: 0;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.info-top {
  height: 25px;
  line-height: 25px;
  width: 100%;
  background-color: #B20202;
}

.info-top > h1 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-left: 10px;
  vertical-align: middle;
  color: white;
}

.info-outer > p {
  font-size: 15px;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  color: black;
  margin: 2.5px;
  line-height: 15px;
  vertical-align: baseline;
}
